[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "system/pyserial"]
	path = tools/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "libraries/LittleFS/lib/littlefs"]
	path = libraries/LittleFS/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "libraries/SdFat"]
	path = libraries/SdFat
	url = https://github.com/earlephilhower/ESP8266SdFat.git
