[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/earlephilhower/ArduinoCore-API.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/earlephilhower/pico-sdk.git
[submodule "system/pyserial"]
	path = tools/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "libraries/LittleFS/lib/littlefs"]
	path = libraries/LittleFS/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "libraries/SdFat"]
	path = libraries/ESP8266SdFat
	url = https://github.com/earlephilhower/ESP8266SdFat.git
[submodule "libraries/Keyboard"]
	path = libraries/Keyboard
	url = https://github.com/earlephilhower/Keyboard
[submodule "libraries/Mouse"]
	path = libraries/Mouse
	url = https://github.com/earlephilhower/Mouse
[submodule "libraries/Joystick"]
	path = libraries/Joystick
	url = https://github.com/benjaminaigner/Joystick
[submodule "libraries/Adafruit_TinyUSB_Arduino"]
	path = libraries/Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
[submodule "libraries/FreeRTOS/lib/FreeRTOS-Kernel"]
	path = libraries/FreeRTOS/lib/FreeRTOS-Kernel
	url = https://github.com/earlephilhower/FreeRTOS-Kernel.git
[submodule "tools/libbearssl/bearssl"]
	path = tools/libbearssl/bearssl
	url = https://github.com/earlephilhower/bearssl-esp8266.git
[submodule "ota/uzlib"]
	path = ota/uzlib
	url = https://github.com/pfalcon/uzlib.git
[submodule "libraries/http_parser/lib/http-parser"]
	path = libraries/http-parser/lib/http-parser
	url = https://github.com/nodejs/http-parser.git
